@keyframes rotate{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

@keyframes move{
    from{
        transform: translate(600px);
    }to{
        transform: translate(-300px);
    }
}

@keyframes bounce{
    0%,100%{
        transform: translatey(0px);
    }50%{
        transform: translatey(-300px);
    }
}

body{
    margin-top: 250px;
}
.container{
    display: flex;
}
.ball{
    border: 1px solid rebeccapurple;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(blue,yellow);
    animation: rotate 1s infinite linear;
}
.obstacle{
    border: 1px solid black;
    background-color: black;
    width: 50px;
    height: 200px;
    animation: move 2s infinite;
}
hr{
    height: 30px;
    background-color: black;
}
.ball:hover{
    animation: bounce 1s infinite;
}